@charset "UTF-8";
section{
	text-align: center;
}

span.writeBtn{
	float:right;
	margin-left: 10px;
}

div.pageValue{
	text-align: center;
}

select{
	margin-left : 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: rgb(177, 245, 171);
}

option{
	border-radius: 10px 10px 10px 10px;
}


.page-item.active .page-link {
 z-index: 1;
 color : green;
 font-weight:bold;
 background-color: rgb(177, 245, 171);
 border-color: #ccc;
 
}
.page-link {
  color: green; 
  background-color: #fff;
  font-weight:bold;
  border: 1px solid #ccc; 
}