@charset "UTF-8";
.searchDiv{
	margin: 20px;
	border: 1.5px solid;
	width: 260px;
    height: 45px;
    border-radius: 15px;
    margin-left: 50px;
	background-color: none;
}
.inputSword{
	margin: 5px;
	border: 0;
	outline: none;
	height: 100%;
	background-color: transparent;
}
.submitBtn{
	font-size: 15px;
  	border: none;
	background-color: #198754;
  	width: 50px;
  	height: 30px;
  	border-radius: 15px;
  	color: #fff;
  	cursor: pointer;
  	margin: 1px;
	margin-top: 5px;
}
.logoImg{
	width: 200px;
	display: block;
	margin: -15px 0 -15px 0;
}

.itemDiv{
	margin: 0 auto;
	height: 400px;
 	width: 25%;
 	height: 30%;
 	diplay: flex;	
}
a.fillDiv{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.page-item.active .page-link {
	z-index: 1;
	color : green;
	font-weight:bold;
	background-color: rgb(177, 245, 171);
	border-color: #ccc;
	 
}
.page-link {
	color: green; 
	background-color: #fff;
	font-weight:bold;
	border: 1px solid #ccc; 
}
.soldBtn{
	background-color: chocolate;
}
body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}