@charset "UTF-8";
.searchDiv{
	margin: 20px;
	border: 1.5px solid;
	width: 260px;
    height: 45px;
    border-radius: 15px;
    margin-left: 50px;
	background-color: none;
}
.inputSword{
	margin: 5px;
	border: 0;
	outline: none;
	height: 100%;
	background-color: transparent;
}
.submitBtn{
	font-size: 15px;
  	border: none;
	background-color: #198754;
  	width: 50px;
  	height: 30px;
  	border-radius: 15px;
  	color: #fff;
  	cursor: pointer;
  	margin: 1px;
  	margin-top: 5px;
}
.logoImg{
	width: 200px;
	display: block;
	margin: -15px 0 -15px 0;
}
.card-img-top{
	display: block;
	margin: 10px auto;
	width: 30%;
}
a{
	text-decoration: none;
	color: black;
}
.card-title{
	text-align: center;
}
.card-text{
	text-align: center;
	margin: auto;
}
.myPageMenu{
	width: 30%;
	height: 100%;
	margin: 0 15px 0 15px;
}
body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}