@charset "UTF-8";
html { 
    background: url(http://cdn.magdeleine.co/wp-content/uploads/2014/05/3jPYgeVCTWCMqjtb7Dqi_IMG_8251-1400x933.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
  img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
  

  
  .close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .close-btn:hover{
    opacity: .5;
  }
    
  /* Link */
  input[type = button]{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
  }
  
  a:hover{
    opacity: 0.7;
  }
  
  #remember-container{
    position: relative;
    margin: -5px 20px;
  }
  
  .checkbox {
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 4px;
    background: rgba(3,3,3,.2);
    display: inline-block;
    width: 16px;
    height: 15px;
  }
  
  .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }
  
  .checkbox:checked {
    background: rgba(3,3,3,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
    color: #fff;
  }
  
  .checkbox:checked:after {
    content: '\2714';
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 4px;
    color: #fff;
  }
  
  #remember{
    position: absolute;
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    color: rgba(19, 17, 17, 0.5);
    top: 7px;
    left: 20px;
  }
  
  #signUp{
    position: absolute;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    color: rgba(16, 15, 15, 0.2);
    right: 0px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #signUp:hover{
    color: rgba(255,255,255,.6);
  }

  .orange-btn{
    background: rgba(87,198,255,.5);
  }