<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.human.dao.IF_BoardDAO">
    <insert id="insert" parameterType="com.human.VO.BoardVO">
        insert into board values (boardNoSeq.nextval, #{id}, #{addr}, #{title},
                                #{content}, default , default, #{sentiment} , #{bcode})
    </insert>
    <select id="selectOne" parameterType="int" resultType="com.human.VO.BoardVO">
        select b.*,m.nickname
        from board b
        join member m
        on b.id = m.id
        where b.boardNo = #{value}
    </select>
    
    <select id="boardCnt" parameterType = "String" resultType = "int">
    	select count(*) from board
    	<if test = "value != null">
    		where addr like '%'||#{value}||'%'
    	</if>
    </select>
    
    <select id="selectAll" parameterType = "com.human.VO.PageVO" 
    resultType = "com.human.VO.BoardVO">
    	select *
		from (select rownum as rn, sub.* 
		from (select b.*, m.nickname
		from board b
		join member m
		on m.id = b.id
		<if test = 'sword != null and sword != ""'>
			where b.addr like '%'||#{sword}||'%'
		</if>
		<if test = 'sorted != null and sorted != ""'>
			order by ${sorted} desc
		</if>
		) sub) bd
		where bd.rn between #{startNo} and #{endNo}
    </select>
    
    <update id="viewCnt" parameterType = "int">
    	update board set views = views + 1 where boardNo = #{value}
    </update>
    
    <select id = "myListCnt" parameterType = "String" resultType = "int">
    	select count(*) from board where id = #{value}
    </select>

	<select id = "mylist" parameterType = "com.human.VO.PageVO"
	resultType = "com.human.VO.BoardVO">
		select *
		from (select rownum rn , sub.*
		from (select * 
		from board 
		where id = #{nowUser}
		order by inDate desc) sub) 
		where rn between #{startNo} and #{endNo}
	</select>
	
	<update id="modify" parameterType = "com.human.VO.BoardVO">
		update board set title = #{title}, addr = #{addr}, content = #{content}, sentiment=#{sentiment}
		where boardNo = #{boardNo}
	</update>
	
	<delete id="delete" parameterType = "int">
		delete from board where boardNo = #{value}
	</delete>
	
	<select id = "getSemtimentCnt" parameterType = "int" resultType = "com.human.VO.BoardVO">
    	select b.sentiment, count(b.sentiment) sentimentCnt
		from board b , item i
		where b.bcode = i.bcode
		and itemNo = #{value}
		GROUP by b.sentiment
    </select>
	
</mapper>